@if (isOpen) {
  <div class="absolute top-full right-0 z-50 mt-2">
    <div
      class="dropdown-menu min-w-48 border bg-tp-bg-light-primary dark:bg-tp-bg-tertiary border-tp-border-light dark:border-tp-border shadow-lg rounded-lg overflow-hidden"
    >
      @for (item of items; track item.id) {
        @if (item.divider) {
          <hr class="my-1 border-t border-tp-border-light dark:border-tp-border-subtle" />
        } @else {
          <app-button
            variant="ghost"
            size="md"
            [fullWidth]="true"
            [disabled]="item.disabled || false"
            (buttonClick)="onItemClick(item)"
            class="text-left justify-start"
          >
            @if (item.icon) {
              <i [class]="item.icon + ' text-tp-text-light-secondary dark:text-tp-text-secondary mr-3'"></i>
            }
            <span>{{ item.label }}</span>
          </app-button>
        }
      }
    </div>
  </div>
}
