<div class="flex items-center justify-center min-h-screen p-4 bg-tp-bg-light dark:bg-tp-bg-primary">

  <!-- Centered Authentication Card -->
  <div
    class="w-full max-w-xl p-8 bg-white dark:bg-tp-bg-tertiary rounded-xl shadow-xl border border-tp-border-light dark:border-tp-border"
  >
    <div class="text-center mb-8">
      @switch (currentForm()) {
        @case ('login') {
          <p class="mt-2 text-tp-text-light-secondary dark:text-tp-text-secondary">
            Welcome back to TripPlanner
          </p>
        }
        @case ('register') {
          <p class="mt-2 text-tp-text-light-secondary dark:text-tp-text-secondary">
            Sign up to start planning trips
          </p>
        }
        @case ('recover') {
          <p class="mt-2 text-tp-text-light-secondary dark:text-tp-text-secondary">

          </p>
        }
        @case ('change-password') {
          <p class="mt-2 text-tp-text-light-secondary dark:text-tp-text-secondary">
            Choose a new password.
          </p>
        }
        @default {
          <p class="mt-2 text-tp-text-light-secondary dark:text-tp-text-secondary">Welcome.</p>
        }
      }
    </div>

    <div class="w-full">
      @switch (currentForm()) {
        @case ('login') {
          <app-login-form [isLoading]="isLoading()" (loginSubmit)="handleLogin($event)">
          </app-login-form>
        }
        @case ('register') {
          <app-register-form [isLoading]="isLoading()" (registerSubmit)="handleRegister($event)">
          </app-register-form>
        }
        @case ('recover') {
          <app-recover-password-form
            [isLoading]="isLoading()"
            (recoverPasswordSubmit)="handleRecoverPassword($event.email)"
          >
          </app-recover-password-form>
        }
        @case ('change-password') {
          <app-change-password-form
            [isLoading]="isLoading()"
            (cancelPasswordChange)="handleCancel()"
            (changePasswordSubmit)="handleChangePassword($event)"
          >
          </app-change-password-form>
        }
      }
    </div>
  </div>
</div>
